a {
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #138496;
    text-decoration: none;
}

a .dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #17a2b8;
}

a .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #138496;
}

@media (max-width: 576px) {
    #about h1 {
        font-size: 4rem;
    }
}