#footer a {
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer a:hover {
    color: #138496;
    text-decoration: none;
}

#footer .dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #17a2b8;
}

#footer .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #138496;
}