.portfolio-link {
    color: #17a2b8;
}

.portfolio-link:hover {
    color: #138496;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #138496;
    text-decoration: none;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #fff;
}

a .dropdown-item:focus,
.dropdown-item:hover {
    color: #343a40;
    text-decoration: none;
    background-color: #17a2b8;
}

a .dropdown-item.active,
.dropdown-item:active {
    color: #343a40;
    text-decoration: none;
    background-color: #138496;
}

.navbar-dark .navbar-brand:hover {
    color: #17a2b8;
}

.btn-outline-light:hover {
    color: #17a2b8;
    background-color: #343a40;
    border-color: #17a2b8;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show>.btn-outline-light.dropdown-toggle {
    color: #17a2b8;
    background-color: #343a40;
    border-color: #17a2b8;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #17a2b8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, .25);
}

.custom-control-input:checked~.custom-control-label::after {
    color: #fff;
    background-color: #17a2b8;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(23, 162, 184, .25);
}

.custom-control-input:active~.custom-control-label::before {
    color: #fff;
    background-color: #17a2b8;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #17a2b8;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    background-color: #17a2b8;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #17a2b8;
}

.custom-file-input:focus~.custom-file-control {
    border-color: #17a2b8;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, .25);
}

.custom-file-input:focus~.custom-file-control::before {
    border-color: #17a2b8;
}

.custom-select:focus {
    border-color: #17a2b8;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, x rgba(23, 162, 184, 0.5);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #17a2b8;
    border-color: #138496;
}

@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }
    #about h1 {
        font-size: 3.5rem;
    }
}
